body{
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/*ID*/
#contenedor-principal{
  display: inline-flex;
  position: relative;
  width: 100%;
  max-width: 100vw;
  max-height: 78vw;
}
#inicioframe{
}
#btndiv1{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
#btndiv2{
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;

}
#btnScheme{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.45);
  border-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20%;
  padding: 0.8vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2vw;
  border-width: 0.102vw;
}
#contenedor1{
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 78vh;
  -webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/*CLASS*/
.superior{
  background-color: blue;
  height: 78vh;
}
.intermedio{
  background-color: black;
  height: 11vh;
}
.inferior{
  background-color: red;
  height: 11vh;
}
.position-down{
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  margin-right: 1.2vh;
  margin-bottom: 1.2vh;
}
.position-up{
  left: 100%;
  z-index: 3;
  margin-right: 1.2vh;
  margin-top: 1.2vh;
}
.btnInvisible{
  visibility: hidden;
}
.btnVisible{
visibility: visible;
}
/*ClASES CON LAS ANIMACIONES*/
.antvoff{
  animation: shutdown 2.66s linear;
}
.antvon{
  animation: shuton 2.66s linear;
}
.botonout{
  -webkit-animation: roll-out-right 0.75s ease-in both;
	        animation: roll-out-right 0.75s ease-in both;
}
.botonin{
  -webkit-animation: roll-in-right 0.75s ease-out both;
	        animation: roll-in-right 0.75s ease-out both;
}

/*ANIMACIONES*/
@keyframes shutdown {
  0%, 10% {
    transform: scale(1, 1);
    opacity: 1;
  }
  20% {
    transform: scale(1, 0.02);
    opacity: 0.8;
  }
  30%, 99% {
    transform: scale(0, 0);
    opacity: 0.3;
  }
  100%{
    opacity: 0;
  }
}
@keyframes shuton {
  0%{
    transform: scale(0, 0);
    opacity: 0;
  }
  1%, 10% {
    transform: scale(0, 0);
    opacity: 0.3;
  }
  20% {
    transform: scale(1, 0.02);
    opacity: 0.8;
  }
  30%, 100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
 @-webkit-keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
            transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
 @-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/*#contenedor-principal{
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}
#inicioframe{
  height: 100%;
  width: 100%;
}
#inferiorframe{
  max-width: max-content;
  max-height: max-content;
}
#btnScheme{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.45);
  border-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20%;
  padding: 0.8vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2vw;
  text-shadow: 0;
  border-width: 0.102vw;
}
#contenedor1{
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 78vh;
  -webkit-animation: slide-in-fwd-center 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
#contenedor3{
  display: flex;
  align-items: stretch;
  height: 11vh;
}
.superior{
  background-color: blue;
  height: 78vh;
}
.intermedio{
  background-color: black;
  height: 11vh;
}
.inferior{
  display: flex;
  background-color: red;
  height: 11vh;
}
.position-down{
  position: sticky;
  left: 100%;
  top: 100%;
  margin-right: 1.2vh;
  margin-bottom: 1.2vh;
}
.position-up{
  display: flex;
  flex-direction: column;
  left: 100%;
  margin-right: 1.2vh;
  margin-top: 1.2vh;
}
.btnInvisible{
    visibility: hidden;
}
.btnVisible{
  visibility: visible;
}

*/